
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0; 
  font-family: 'Esteban', Serif;
  font-size: 17px; 
}

h1,h2,h3 {
  font-family: 'Oswald', Sans-Serif;
  font-size: 51px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background: rgba(255, 165, 0, 0.9);
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 10px black;
}

header img {
  width: 10%;
}

#hero {
  padding-top: 90px;
  height: 85vh;
  background: url('../img/smokeLights2.jpg');
  background-size: cover;
}

#hero h1 {
  text-align: center;
  padding-top: 300px;
  text-transform: uppercase;
  text-shadow: -4px 3px 20px #fff
}

.left_closed {
  position: absolute;
  top: 0;
  left: -1050px;
  display: none;
}

.left_opened {
  position: absolute;
  top: 0;
  left: -1000px;
}


.right_closed {
  position: absolute;
  top: 0;
  right: -1050px;
  display: none;
}

.right_opened {
  position: absolute;
  top: 0;
  right: -1000px;
}

.left_closed img,
.right_closed img {
  height: 800px;
}

.left_closed img {
  border-bottom-right-radius: 40px;
}

.right_closed img {
  border-bottom-left-radius: 40px;
}

#intro {
  background: rgba(0, 0, 0, 0.8);
  padding: 100px;
  text-align: center;
}

#intro .intro_img {
  float: left;
  margin-right: 20px;
}

#intro img {
  border-radius: 50%;
}

#intro p {
  color: #fff;
  text-align: justify;
  font-size: 25px;
}

.movie .poster_container {
  float: left;
  width: 30%;
}

.movie .summary_container {
  font-family: 'Esteban', Serif;
  font-size: 25px;
  float: right;
  width: 70%;
}

.movie .summary_container h2 {
  margin-top: 0px;
}

ul {
  background-color: white;
  text-align: left;
  width: 100%;
  padding-left: 0;
}

li {
  background: white;
  margin: 0;
  list-style: none;
  padding: 20px;
}

li:nth-child(2n+2) {
  background: lightgray;
}

li p {
  margin-right: 40px;
}

#list {
  // overflow: hidden;
}

footer {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 200px;
}

footer h2 {
  margin: 0;
}

#popUp_footer {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  color: #fff;
  display: none;
}

#popUp_footer h2 {
  margin: 0;
  padding: 10px;
}


@media (max-width: 800px) {
    header img {
    width: 10%;
  }

  #hero {
    padding-top: 90px;
    height: 85vh;
    background: url('../img/smokeLights2.jpg') fixed;
    background-size: cover;
  }

  #hero h1 {
    text-align: center;
    padding-top: 300px;
    text-transform: uppercase;
    text-shadow: -4px 3px 20px #fff
  }

  #intro {
    padding: 30px;
  }

  #intro .intro_img {
    
  }

  #intro img {
    border-radius: 50%;
  }

  #intro p {
    color: #fff;
    text-align: justify;
    font-size: 25px;
  }

  .movie .summary_container {
    font-family: 'Esteban', Serif;
    font-size: 20px;
    float: right;
    width: 55%;
  }

  .movie .summary_container h2 {
    margin-top: 0px;
  }

  li p {
    margin-right: 40px;
  }

  footer {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 200px;
  }

  footer h2 {
    margin: 0;
  }

  #popUp_footer {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    color: #fff;
    display: none;
  }

  #popUp_footer h2 {
    margin: 0;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  header img {
    width: 20%;
  }
  #hero h1 {
    padding-top: 150px;
  }
  #intro p {
    margin-top: 0px;
  }
  .movie .poster_container {
    float: none;
    width: 100%;
    text-align: center;
  }
  .movie .poster_container img {
    margin-left: 0px;
  }
  .movie .summary_container {
    font-family: 'Esteban', Serif;
    font-size: 20px;
    float: none;
    width: 100%;
  }
  .movie .summary_container h2 {
    text-align: center;
  }
  li img {
    margin-left: 36px;
  }
  li p {
    margin-right: 0px;
    text-align: justify;
  }
  #popUp_footer h2 {
    margin: 0;
    padding: 10px;
    font-size: 22px;
  }

}